@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;

}

/* navbar start  */


/* CSS for the navigation bar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; /* Remove padding */
    background-color: #f7f7f7;
}
img{
    border: 1px solid rgb(189, 188, 188);
    border-radius: 5px;
}
.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    margin: 0 8%;
}

.brand img {
    width: 210px; 
    height: auto; 
    padding: 0 40px; 
 
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgb(61, 34, 34);
    width:45%;
    border-radius: 50px;
}

.search-input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    margin-left: 20px;
}

.search-icon {
    background-color: rgba(54, 143, 19, 0.904);
    color: #fff;
    width:7%;
    display: flex;
    align-items: center;
    border-radius: 0 50px 50px 0;
    padding: 15.7px;
}

.gray-section {
    background-color: rgb(241, 236, 236);
    width: 40%;
    display: flex;
    align-items: center;
    border-radius: 50px 0 0 50px;
    padding: 12px;
}

.section-text {
    color: rgb(77, 71, 71);
    margin-right: 10px;
    padding-left: 15px;
    font-size: 13px;
}

.product-search {
    width: 20%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
   
}

.product-search-input {
    border: none;
    width: 100%;
    padding: 5px;
    outline: none;
    margin-left: 5%;
   
}

.login-register {
    color:black;
    text-decoration: none;
    
}


.cart-icon {
    color: #fff;
}


/* Add a dividing line within the gray-section */
.gray-section::before {
    content: "";
    /* background-color: rgb(136, 134, 134); */
    width: 2px;
    height: 30px;
    /* margin: -40px 20px; */
    position: absolute;
    left: 2%;
    bottom:50%;
    transform: translate(0, 50%);
}
.cart {
    height: 33px;
    width: 33px;
    background-color: burlywood;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-right: 0;
    padding: 0; /* Remove any padding that might cause extra spacing */
    color: white;
}


/* navbar2 */
.navbar2 {
    background-color: rgb(17, 17, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    height:45px;
}

.nav-link {
    color: white;
    padding: 10px 10px; /* Reduce the space between links */
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    font-size: 15px;
}

.nav-link {
    margin-right: -50px; /* Adjust the space between links */

    margin-top: 25px;
    margin-bottom: 25px;
}
.nav-link::before {
    content: "";
    background-color: white;
    width: 2px; /* Adjust the width of the vertical line */
    height: 70%; /* Adjust the height of the vertical line */
    position: absolute;
    top: 15%;
    right: -5px; /* Adjust the distance of the line from the link */
}

.lastitem::before{
   content: none;
}

.nav-link:hover {
    color: orange; /* Change the text color to orange on hover */
}

.nav-link:hover:after {
    content: ""; /* Add an underline on hover */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 2px solid orange; /* Customize the underline style */
}

 .navbar #text{
    margin-right: 21%;
}

.count{ 
    display: inline-block; 
    /* margin-right: 10%; */
    font-size: 12px;
    color: white;
    padding: 5px;
    background:burlywood;
    border-radius:50px;
}
#icon-shop{
    margin-right: 15%;
}
.dropdown-item {
    border-bottom: 1px solid #ccc;
}
.last-item {
    border-bottom: none;
}
.dropdown-menu {
    min-width: 100px; /* Adjust the width as needed */
}

/* CSS for the container */ 
 /* .container {
    display: flex;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
} */

h2{
   margin: 10px;
   padding: 10px 20px;
   font-size:20px;
   font-weight: bold; 
   margin-right: 10px;
   margin-left: 10px;
}
.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 45px;
    border: 1px solid rgb(66, 66, 177);
    background-color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    line-height:1;
}
.button:hover {
    background-color: rgb(142, 204, 27);
    color: #fff;
}

/* navbar end  */

.container{
    margin: 5% 12%;
    grid-gap: 10px;
}
.container-2{
    margin: 5% 12%;
    grid-gap: 10px;
}

.container-3{
  margin: 0  12%;
  grid-gap: 10px;
  margin-top:-19.5% ;
  
}
.container-4{
  display: flex;
  padding: 20px 20px;
  background-color: #eaedf4;
  align-items: center;
  justify-content: center;
  
}
.images img{
    padding: 0 7px;
}
h2{
    margin-bottom: 10px;
}

.images-1{
    height:300px;
  display: grid;
  grid-template-columns: auto auto auto ;
  /* gap: 10px;
  padding: 10px; */
}

#img-1 {
    grid-row: 1 / span 2;
  }

  #daily-Essentials{
    margin: 5% 12%;
    grid-gap: 10px;
  }

  #new-On-ITCStore{
    margin: 21% 12%;
    grid-gap: 20px;
  }
  .images-season{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
  }

  
/*  
  .images-2 img{
    
    border: 1px solid rgb(189, 186, 186);
    border-radius: 5px;
    
  } */

  .images-2 img{
   
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 0 15px 0 0;
   
  }
  
  #season-special{
    display: grid;
    grid-gap: 20px;
  }

  #new{
    background: #eaedf4;
    }
    #new-On-ITCStore{
      height: 400px;
    }
    #name{
      padding: 20px 0 10px 0;
    }

    #next{
      display: flex;
      padding: 5px;
      align-items: center;
      justify-content: space-around;
      
    }
    #next i{
      font-size: 35px;
      padding: 0 10px;
      color: rgb(51, 246, 51);
    }

    .next-main1, .next-main2{
      display: flex;
    }

    #next-p {
      color: rgb(51, 246, 51);
    }

  /* footer  */

  footer{
    margin: 5% 10%;
    line-height: 30px;
}
#foot a{
    text-decoration: none;
    color: black;
}
#foot a:hover{
    color: rgb(76, 76, 239);
}
.info{
    display: flex;
    flex-direction: column;
}
.foot-bottom{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    line-height: 25px;
}

   
